@import "./variables.css";
.message {
    position: absolute;
    background-color: var(--light-color);
    opacity: 0.8;
    margin: 25px;
    width: 350px;
    height: 200px;
}

.login {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.login-side {
    float: right;
    position: relative;
    width: 500px;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: 500px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    z-index: 1;
}

input,
button {
    background: none;
    border: none;
    outline: none;
}

h2 {
    margin-top: 50px;
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.form-control,
.links {
    display: block;
    width: 260px;
    margin: 60px auto 54px;
    text-align: center;
}

.form-control label {
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

button {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 36px;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.submit {
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(left, #000000, #636262);
}

.submit:hover {
    background: -webkit-linear-gradient(left, #636262, #000000);
}

.forgot-pass,
.new-account {
    margin: 0 15%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #0c0101;
    cursor: pointer;
}

.forgot-pass:hover,
.new-account:hover {
    color: rgb(102, 50, 50);
}

@media (max-width: 500px) {
    .container {
        display: none;
    }
}