/* =====================
    variables
========================
*/

:root {
    --primary-color: #F09A3E;
    --secondary-color: #464D5F;
    --dark-color: #000;
    --light-color: #fff;
}


/* =====================
    variables
========================
*/

.nav-container {
    display: block;
    height: 100px;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #464D5F;
    background-color: #fff;
}

.nav-logo {
    display: inline;
}

.nav-logo img {
    max-width: 100%;
    max-height: 100%;
}


/* nav link lists */

.nav-list {
    display: inline;
    float: right;
}

.nav-list a {
    text-align: center;
    line-height: 75px;
    display: block;
    width: 150px;
    height: 100px;
}

.nav-container a {
    float: left;
    color: var(--dark-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-container a:hover {
    background-color: #ddd;
    color: black;
}

.nav-container a.active {
    background-color: #4CAF50;
    color: white;
}

@media (max-width: 600px) {
    .nav-list {
        display: none;
    }
}