.nav-container {
    display: block;
    height: 100px;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #464D5F;
    background-color: var(--light-color);;
}

.nav-logo {
    display: inline;
}

.nav-logo img {
    min-width: 50px;
    min-height: 50px;
    max-width: 90%;
    max-height: 90%;
}

.wider {
    justify-content: center;
    align-items: center;
}

.sidebar-hanburger{
    display: none;
}
/* nav link lists */

.nav-list {
    display: inline;
    float: right;
}

.nav-list a {
    text-align: center;
    line-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100px;
}

.nav-container a {
    float: left;
    color: var(--dark-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-container a:hover {
    background-color: #ddd;
    color: black;
}

.user-info {
    margin: 0 5px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .nav-list a {
        display: none;
    }
    .nav-list {
        height: 100%;
    }
    .sidebar-hanburger {
        height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 2em;
    }

    .sidebar-hanburger i {
        color: var(--secondary-color);
        cursor: pointer;
    }
    .nav-container {
        height: 50px;
    }
    .nav-link {
        display: flex;
        justify-content: center;
    }
}