.container {
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

input,
button {
    background: none;
    border: none;
    outline: none;
}

.form-wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.form-wrapper {
    overflow: hidden;
    margin: 50px auto;
    height: 75%;
    width: 500px;
    margin-top: 2em;
    background-color: var(--light-color);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-wrapper h1 {
    max-width: 80%;
    text-align: center;
    margin: 0px auto;
}

.form-wrapper span {
    max-width: 60%;
    display: block;
    margin: 0px auto;
}

.form-control {
    display: block;
    width: 40%;
    margin: 60px auto 54px;
    text-align: center;
}

.form-control label {
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

button {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 36px;
    border-radius: 3px;
    color: var(--light-color);;
    font-size: 15px;
    cursor: pointer;
}

.submit {
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(left, #000000, #636262);
}

.submit:hover {
    background: -webkit-linear-gradient(left, #636262, #000000);
}